.finder {
    position: absolute;
    padding-top: 2vh;
    top: 15%;
    left: 10%;
    right: 10%;
    max-width: 80%;
    min-height: 700px;
    /* align-items: center; */
    
    display: flex;
    justify-content: center;
    
    background: rgba(255, 255, 255, 0.836);
    box-shadow: -15px 24px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}