.form-container {
    margin-top: 20vh;
    max-width: 500px;
    min-height: 400px;
    align-items: center;
    background: rgba(255, 255, 255, 0.884);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 24px;
    box-shadow: inset -24px -24px 48px rgb(226, 217, 217),
                inset 24px 24px 48px #f6f6f6;
}

.grid-buttons {
    justify-content: center;
    align-content: center;
}

.close-icon:hover {
    animation-name: rotate-right;
    animation-duration: 1s;
    animation-direction: linear;
}

@keyframes rotate-right {
    to {
        transform: rotate(180deg);
    }
}